
body,
html,
#root,
#app, #app>div  {
  height: 100%;
  background:#fff;
  direction: rtl;
  font-family: 'Rubik', sans-serif;
}


.ant-form-rtl .ant-form-item-label {
  text-align: right;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
  background-color: white;
  margin-bottom:10px
}

.ant-layout,.ant-layout-content{
  // background-color: #fff;
  padding:5px;
}

.container{
  background-color: white;
  margin: 0 auto;
}

.box {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #fff;
  padding:10px;
}

.ant-btn-primary {
  background-color: #ff3860;
  border: none;
  background-image: -webkit-linear-gradient(309deg, #ff0561 0%, #ff3860 71%, #ff5257 100%);
  background-image: linear-gradient(141deg, #ff0561 0%, #ff3860 71%, #ff5257 100%);
  color: #fff !important;
  border-color: #ff3860;
  &:active,
  &:focus,
  &:hover {
    background-color: #ff3860 !important;
    border-color: #ff3860 !important;
    background-image: -webkit-linear-gradient(309deg, #ff0561 0%, #ff3860 71%, #ff5257 100%) !important;
    background-image: linear-gradient(141deg, #ff0561 0%, #ff3860 71%, #ff5257 100%) !important;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ff3860 !important;
  border-color: #ff3860 !important;
  background-image: -webkit-linear-gradient(309deg, #ff0561 0%, #ff3860 71%, #ff5257 100%) !important;
  background-image: linear-gradient(141deg, #ff0561 0%, #ff3860 71%, #ff5257 100%) !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #ff3860 !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  font-size: 16px;
  margin-left: 0px;
  margin-right: 48px;
  margin-bottom: 4px;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
  margin-right: 48px;
  margin-left: 0;
  font-size: 14px;
}

.ant-notification-notice-close {
  right: auto;
  left: 22px;
}

.ant-notification-notice-closable .ant-notification-notice-message {
  padding-right: 0;
  padding-left: 24px;
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  margin-right: 0;
  margin-left: 10px;
}

.ant-layout-header {
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

[dir='rtl'] {
  @media (max-width: 575px) {
    .ant-form-item-label {
      text-align: right;
    }
  }
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    text-align: right;
  }
  .ant-select-selection__rendered {
    margin-left: 11px;
    margin-right: 5px;
  }
  .ant-col-1,
  .ant-col-2,
  .ant-col-3,
  .ant-col-4,
  .ant-col-5,
  .ant-col-6,
  .ant-col-7,
  .ant-col-8,
  .ant-col-9,
  .ant-col-10,
  .ant-col-11,
  .ant-col-12,
  .ant-col-13,
  .ant-col-14,
  .ant-col-15,
  .ant-col-16,
  .ant-col-17,
  .ant-col-18,
  .ant-col-19,
  .ant-col-20,
  .ant-col-21,
  .ant-col-22,
  .ant-col-23,
  .ant-col-24 {
    float: right;
  }

  .ant-calendar-header .ant-calendar-next-month-btn {
    right: auto;
    left: 29px;
  }
  .ant-calendar-header .ant-calendar-next-century-btn,
  .ant-calendar-header .ant-calendar-next-decade-btn,
  .ant-calendar-header .ant-calendar-next-year-btn {
    right: auto;
    left: 7px;
  }
  .ant-calendar-header .ant-calendar-prev-century-btn,
  .ant-calendar-header .ant-calendar-prev-decade-btn,
  .ant-calendar-header .ant-calendar-prev-year-btn {
    right: 7px;
    left: auto;
  }
  .ant-calendar-header .ant-calendar-prev-month-btn {
    right: 29px;
    left: auto;
  }
  .ant-form-vertical .ant-form-item-label,
  .ant-col-24.ant-form-item-label,
  .ant-col-xl-24.ant-form-item-label {
    text-align: right;
  }
  .ant-select-selection__clear {
    left: 11px;
    right: auto;
  }
  table td,
  table th {
    text-align: right;
  }

  .ant-modal-footer button + button {
    margin-right: 8px;
    margin-left: 0px;
  }
  .ant-select-selection--multiple .ant-select-selection__choice {
    float: right;
  }
}

.ant-select-selection--multiple .ant-select-selection__choice {
  background-color: #ff3860;
  border-color: #ff3860;
  background-image: -webkit-linear-gradient(309deg, #ff0561 0%, #ff3860 71%, #ff5257 100%);
  background-image: linear-gradient(141deg, #ff0561 0%, #ff3860 71%, #ff5257 100%);
  color: #fff !important;
}

.ant-select-selection--multiple .ant-select-selection__choice__remove {
  color: #fff;
}
